* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: AkBold, Gothic A1, helvetica, sans-serif;
	font-weight: bold;
	word-break: keep-all;
}

.gothic-a1-black {
  font-family: "Gothic A1", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: AkBold;
  src: url(AkzidenzGrotesk-BoldExtended.otf);
}

body {

	background-color: #e0dcd5;

}

.timeline {
	writing-mode: vertical-rl;
	overflow-y: hidden;	
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	z-index: 9;
}

h1 {
	writing-mode: vertical-rl;
}

a {
	color: black;
	text-decoration: none;
}

h1 {
	text-orientation: upright;
	font-size: 25px;
	font-weight: normal;
}

ol {
	display: flex;
	flex-direction: column;
	margin-right: 3vh;
}

li {
	list-style: none;
	writing-mode: vertical-rl;
	text-orientation: upright;
	line-height: 1;
}

h2 {
	font-size: 28vh;
	opacity: 0.5;
	border-right: 2vh solid black;
	margin-top: 3vh;
	margin-bottom: 3vh;
	display: flex;
	padding-left: 2vh;
	padding-right: 2vh;
	mix-blend-mode: multiply;
}

.year {
	height: 42vh;
	width: auto;
	z-index: 2;
}

.year2 {
	height: 21vh;
	width: auto;
	z-index: 2;
}

summary {
	cursor: pointer;
  list-style-type: none; 
}

summary::-webkit-details-marker {
  display: none; 
}

.text p {
	font-size: 14vh;
	text-orientation: upright;
	padding: 2vh;
	line-height: 1.2;
	opacity: 0.5;
	word-spacing: 4vh;
}

.sw {
	position: relative;
	text-orientation: sideways;
	top: -1.25vh;
}

.mj {
	position: relative;
	top: -9vh;
	left: 11vh;
}

.gh {
	position: relative;
	left: -1vh;
}

.mp {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.la {
	position: relative;
	top: -1.5vh;
}

.ci img {
	mix-blend-mode: multiply;
	height: 91%;
	opacity: 0.5;
	filter: grayscale(1);
	padding-right: 3vh;
	padding-left: 3vh;
}

.image img {
	height: 91%;
	padding-right: 3vh;
	padding-left: 3vh;
}

figure {
	display: flex;
	margin-top: 3vh;
	margin-bottom: 3vh;
	border-right: 2vh solid rgba(0, 0, 0, 0.2);
}

figcaption {
	position: relative;
	bottom: 0;
	writing-mode: horizontal-tb;
	text-align: center;
	font-size: 3vh;
	opacity: 0.5;
	margin-top: 4vh;
/*	background-color: blue;*/
}

.album {
	display: flex;
}

.about {
	flex-direction: row;
}

.intro {
	margin-top: 20vh;
	border:  1px solid red;
	width: 95%;
	height: auto;
}

.beige {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #e0dcd5;
	mix-blend-mode: multiply;
	z-index: 2;
	pointer-events: none;
}

iframe {
	position: relative;
	top: -55px;
	left: -3px;
	width: 100vw;
	height: calc(100vh + 80px);
}

/*.timeline::-webkit-scrollbar {
	position: absolute;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.timeline::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
}*/

.about {
	overflow-y: hidden;
}

@media screen and (max-width: 900px) {

	body {
		overflow-y: auto;
		overflow-x: hidden;
	}

	h1 {
		font-size: 16px;
	} 

	.century {
		display: none;
	}

	ol {
		flex-direction: row;
		margin-top: 4vw;
		margin-right: 0;
	}

	li {
		writing-mode: horizontal-tb;
		text-align: center;
		font-size: 55vw;
		width: 100%;
		line-height: 0.9;
	}

	h2 {
		font-size: 55vw;
		opacity: 0.5;
		border-top: 3vw solid black;
		border-right: 0;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 2vw;
		margin-left: 2vw;
		padding-top: 1vw;
		padding-bottom: 2vw;
		padding-left: 1.5vh;
		padding-right: 2vh;
	}

	.year2 {
		height: 41vw;
		text-align: center;
		mix-blend-mode: multiply;
	}

	.ci img {
		width: 100%;
		height: auto;
		padding-right: 0;
		padding-left: 0;
		padding-top: 3vw;
		padding-bottom: 3vw;
	}

	figure {
		display: flex;
		flex-direction: column;
		margin-top: 0vw;
		margin-bottom: 5vw;
		margin-right: 2vw;
		margin-left: 2vw;
		border-right: 0;
		border-top: 3vw solid rgba(0, 0, 0, 0.2);
	}

	.text {
		height: 46vh;
		margin-right: -3vw;
	}

	.five {
		height: 58vh;
	}

	.six {
		height: 65vh;
	}

	.seven {
		height: 80vh;
	}

	.eight {
		height: 88vh;
	}

	.nine {
		height: 100vh;
	}

	.text p {
		font-size: 22vw;
		line-height: 1.1;
		writing-mode: vertical-rl;
		width: 100%;
		text-align: left;
	}

	.mj {
		position: relative;
		top: -14vw;
		left: 15vw;
	}

	.la {
		position: relative;
		top: -2.5vw;
}

	figcaption {
		font-size: 4vw;
		margin-top: 4vw;
	}

	body { 
		-ms-overflow-style: none; 
	} 

	body::-webkit-scrollbar { 
		display: none; 
	} 

	.image img {
		width: 100%;
		height: auto;
		padding-right: 3vw;
		padding-left: 3vw;
		padding-top: 3vw;
	}

}

@media screen and (min-aspect-ratio: 3.3/1) {

	ol {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}
